.dark-mode{
    background-color: darkmagenta;
    color: white;
}
.dark-mode #boxCalculator {
    background-color: rgb(34, 52, 52);
}
.dark-mode #boxButton {
    background-color: #5f3b3b;
}
.dark-mode #boxBilangan {
    background-color: black;
    color: #fff;
    border: none;
}
.dark-mode #boxBilangan:hover{
    background-color: darkcyan;
}